// Sans serif
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
// Serif
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,400,500,700,900');


// Core variables and mixins
@import "import/variables";
@import "import/mixins";

// Reset
@import "import/normalize";

// Core CSS
@import "import/scaffolding";
@import "import/type";
@import "import/icons";
@import "import/hf";
@import "import/components";

// Page
@import "import/page";