//
// Components
// --------------------------------------------------

// AD
.ads-box {
  width: 100%;
  text-align: center;
  padding: 0;

  .ads {
    background-color: transparent;
    display: inline-block;
    margin: $spacing*10 $spacing-tiny*5;

    a {
      @include full100;
    }

    img {
      display: block;
      margin: auto;
    }
  }
}


// Tooltips
[data-tooltip] {
  position: relative;

  &:hover {
    &::after {
      content: attr(data-tooltip);
      background-color: $color-GR700;
      border-radius: $spacing-tiny;
      padding: 6px 6px 5px 8px;
      color: $color-WH;
      font-family: $font-family-sans;
      font-size: $font-size-12;
      font-weight: $font-weight-light;
      text-align: center;
      text-indent: initial;
      line-height: 1;
      display: inline-block;
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      white-space: pre;
    }
  }
}

// Sponsor icon
[data-sponsor] {
  position: relative;

  &::before {
    content: attr(data-sponsor);
    background-color: $color-warning;
    font-size: $font-size-14;
    color: $color-WH;
    padding: $spacing-tiny/2 $spacing;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
}


// Button
.btn {
  background-color: transparent;
  display: inline-block;
  margin: 0;
  color: $color-WH;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: $spacing-tiny*3 $spacing*4;
  font-family: $font-family-sans;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: $transition-base;
  cursor: pointer;

  &, &:active, &.active {
    &:focus, &.focus {
      @include tab-focus;
    }
  }

  &:hover, &:focus, &.focus {
    color: $color-WH;
    text-decoration: none;

    i {
      left: 4px;
    }
  }

  &:active, &.active {
    outline: 0;
    background-image: none;
  }

  // Icon margin
  i {
    margin-left: $spacing-tiny;
    position: relative;
    left: 0;
    transition: $transition-base;

    &.icon-btn-arrow {
      background-repeat: no-repeat;
      background-size: contain;
      width: 12px;
      height: 20px;
      display: inline-block;

      &.light {
        background-image: url(../../assets/images/icon-btn-arrow-right--light.svg);
      }

      &.primary {
        background-image: url(../../assets/images/icon-btn-arrow-right--primary.svg);
      }
    }
  }

  // Primary
  &--primary {
    background-color: $color-primary;
  
    &:hover, &:active {
      background-color: $color-primary2;
    }
  }

  // Border
  &--border {
    background-color: transparent;
    border-color: $color-primary;
    color: $color-primary;
  
    &:hover, &:active, &:focus {
      border-color: $color-primary2;

      i.primary {
        background-image: url(../../assets/images/icon-btn-arrow-right--light.svg);
      }
    }
  }

  // Text
  &--text {
    background-color: transparent;
    border-color: transparent;
    color: $color-GR900;
    padding: $spacing-tiny*2 $spacing-tiny*3;
  
    &:hover, &:active {
      background-color: $color-primary;

      i.primary {
        background-image: url(../../assets/images/icon-btn-arrow-right--light.svg);
      }
    }
  }

  &--info {
    background-color: $color-info;
  
    &:hover, &:active {
      background-color: $color-BL300;
    }

    &.btn--border {
      background-color: transparent;
      border-color: $color-info;
      color: $color-info;
  
      &:hover, &:active {
        background-color: $color-BL300;
        color: $color-WH;
      }
    }
  }

  &--disable {
    background-color: $color-GR300;
    cursor: default;
    pointer-events: none;

    
    i.icon-btn-arrow.primary {
      background-image: url(../../assets/images/icon-btn-arrow-right--light.svg);
    }
  }

  &--small {
    padding: 6px $spacing*2;
    font-size: $font-size-14;

    &.btn--text {
      padding: 6px $spacing-tiny*3;
    }
  }
  
  &--big {
    padding: $spacing-tiny*3.5 $spacing*5;
    font-size: $font-size-18;

    &.btn--text {
      padding: $spacing-tiny*3.5 $spacing*2;
    }
  }
}


// Titlebar
.titlebar {
  margin-bottom: $spacing*3;

  // page
  &--page {
    margin-bottom: $spacing*4;

    .titlebar__title {
      .title-data {
        text-align: center;

        .title {
          font-size: $font-size-40;
          display: block;
          width: 100%;
        }

        span.sub-title {
          font-size: 1.25rem;
          font-style: italic;
          display: block;
          width: 100%;
          position: relative;
          top: -4px;
          margin-bottom: $spacing-tiny;
        }
      }
    }
  }

  // Section
  &--section {
    .titlebar__title {
      .title-data {
        position: relative;
        display: inline-block;

        &::after {
          content: '';
          background-color: $color-primary;
          width: 100%;
          height: 4px;
          display: inline-block;
          position: absolute;
          left: 0;
          bottom: -4px;
        }

        .title {
          font-size: $font-size-40;
        }
      }
    }
  }

  // Small
  &--small {
    &--inline {
      .titlebar__title {
        display: inline-block;
      }
    }

    .titlebar__title {
      border-width: 2px;
      padding-right: $spacing*4;
      
      .title-data {
        position: relative;
        display: inline-block;
        border-width: 2px;

        &::after {
          content: '';
          background-color: $color-primary;
          width: 100%;
          height: 2px;
          display: inline-block;
          position: absolute;
          left: 0;
          bottom: -2px;
        }

        .title {
          font-size: $font-size-32;
          display: inline-block;
        }

        span.sub-title {
          font-size: $font-size-base;
          margin-left: $spacing-tiny;
        }
      }
    }
  }

  &__title {
    border-bottom: 4px solid $color-secondary;

    .title-data {
      .title {
      }

      span.sub-title {
        font-family: $font-family-LOAT;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }
    }
  }

  &__subnav {
  }
}


// Tab nav
.tab-nav {
  background-color: $color-WH;
  width: 100%;
  top: 0;
  transition: $transition-base;

  &.sticky {
    position: fixed;
    top: 68px;
    left: 0;
    z-index: 99;
  }

  nav {
    border-bottom: 1px solid $divider-light;
    position: relative;

    &::after {
      content: '';
      background-color: $divider-light;
      width: 100%;
      height: 1px;
      display: inline-block;
      position: absolute;
      top: 63px;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin: 0 $spacing;
        transition: $transition-base;

        a {
          font-size: $font-size-18;
          font-weight: $font-weight-bold;
          text-align: center;
          color: $color-GR900;
          padding: $spacing*2 $spacing;
          display: inline-block;
          border-bottom: 4px solid transparent;

          &.active, &:hover {
            border-color: $color-primary;
          }
        }
      }
    }
  }

  &--nowrap {
    nav {
      position: relative;

      &::after {
        content: '';
        background: linear-gradient(to left,$color-WH,rgba(255,255,255,0));
        width: $spacing*3;
        height: 63px;
        position: absolute;
        top: 0;
        right: 0;
      }

      ul {
        justify-content: flex-start;
        flex-wrap: initial;
        overflow-x: scroll;
        white-space: nowrap;
      }
    }
  }
}


// Tags
.tags {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      font-family: $font-family-sans;
      font-size: $font-size-14;
      font-weight: $font-weight-lighter;
      line-height: 1;
      color: $color-GR900;
      margin: 0 $spacing $spacing 0;

      a {
        color: $color-GR900;
        padding: $spacing $spacing-tiny*3;
        display: block;
        border: 1px solid $color-GR200;

        &:hover {
          border-color: $color-primary;
          color: $color-primary;
        }
      }
    }
  }
}


// Breadcrumb
.breadcrumb {
  width: 100%;
  padding: $spacing*3 0 $spacing*2;
  @include clearfix;

  nav {
    ul {
      display: flex;

      li {
        font-family: $font-family-sans;
        font-size: $font-size-14;
        color: $color-GR900;
        display: flex;

        &:last-child {
          &::after {
            display: none;
          }
        }

        &::after {
          content: '';
          background-image: url(../../assets/images/icon-14-light-arrow--breadcrumb.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        a {
          color: $color-GR400;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}


// Pagination
.pagination {
  width: 100%;
  text-align: center;
  @include clearfix;

  nav {
    ul {
      display: flex;
      justify-content: center;

      li {
        background-color: $color-WH;
        border: 1px solid $color-GR200;
        font-family: $font-family-LOAT;
        font-size: $font-size-18;
        text-align: center;
        line-height: $spacing*5;
        letter-spacing: 0;
        width: $spacing*5;
        height: $spacing*5;
        margin: 0 $spacing;

        a {
          @include full100;
          color: $color-secondary;

          &:hover {
            background-color: $color-primary;
            color: $color-WH;
          }
        }

        &.active {
          background-color: $color-secondary;
          color: $color-WH;

          a {
            color: $color-WH;
          }
        }

        &.page-more {
          border-color: $color-WH;
        }

        &.page-first, &.page-previous, &.page-next, &.page-last {
          background-repeat: no-repeat;
          background-position: center;
          text-indent: -5000px;

          a {
            background-repeat: no-repeat;
            background-position: center;
            background-color: $color-WH;

            &:hover {
              background-color: $color-primary;
            }
          }
        }

        &.page-first {
          background-image: url(../../assets/images/icon-20-inactive-arrow--first.svg);

          a {
            background-image: url(../../assets/images/icon-20-dark-arrow--first.svg);
          }
        }

        &.page-previous {
          background-image: url(../../assets/images/icon-20-inactive-arrow--left.svg);

          a {
            background-image: url(../../assets/images/icon-20-dark-arrow--left.svg);
          }
        }

        &.page-next {
          background-image: url(../../assets/images/icon-20-inactive-arrow--right.svg);

          a {
            background-image: url(../../assets/images/icon-20-dark-arrow--right.svg);
          }
        }

        &.page-last {
          background-image: url(../../assets/images/icon-20-inactive-arrow--last.svg);

          a {
            background-image: url(../../assets/images/icon-20-dark-arrow--last.svg);
          }
        }
      }
    }
  }
}


// Toasts
.toast {
  background-color: $color-BL50;
  width: 70vw;
  padding: $spacing*2 $spacing*3;
  display: flex;
  @include box-shadow--mix;

  &:hover {
    .toast__body {
      color: $color-GR700;
    }
  }

  &__body {
    font-family: $font-family-sans;
    font-size: $font-size-base;
    color: $color-GR600;
    padding-right: $spacing*3;
  }

  &__btns {
  }

  &.fix--bottom {
    position: fixed;
    bottom: $spacing*3;
    right: $spacing*3;
    z-index: 999;
  }
}


// 進度條
.page-progress {
  background: $color-secondary;
  width: 100%;
  height: 4px;
  
  &__bar {
    height: 4px;
    background: $color-primary2;
    width: 0%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}


// UI State
.ui-state {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $spacing*3 auto $spacing*8 auto;
  @include clearfix;

  &__icon {
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  &__content {
    margin-left: $spacing*3;
    font-family: $font-family-sans;
    font-size: $font-size-24;
    font-weight: $font-weight-medium;
    color: $color-GR400;
  }

  &.blank {
    i {
      background-image: url(../../assets/images/icon-100-ui-state--blank.svg);
    }
  }

  &.search {
    i {
      background-image: url(../../assets/images/icon-100-ui-state--search.svg);
    }
  }
}


//goTop
.goTop {
}


// Form -----
// Input
.text-input {
  font-family: $font-family-sans;
  font-size: $font-size-base;
  padding-left: $spacing*2;
  padding-right: $spacing*2;
}


// Cards
.card {
  position: relative;
  transition: $transition-base;

  // New author
  &.new {
    .card__body {
      .title {
        &::before {
          content: 'NEW';
          background-color: $color-info;
          font-family: $font-family-LOAT;
          font-size: $font-size-12;
          line-height: 1;
          color: $color-WH;
          padding: 2px 2px 2px 4px;
          border-radius: 2px;
          position: absolute;
          top: -20px;
          left: 0;
          transform-origin: 0;
          transform: scale(.9);
        }
      }
    }
  }

  &:hover {
    @include box-shadow--active;
  }

  &--article {
    .card__body {
      margin: -$spacing*4 0 0 $spacing*3;
    }
  }

  &--author {
    &:hover {
      filter: initial;
      box-shadow: 0 2px 8px rgba(0,0,0,.16);
    }

    .card__img {
      background-color: $color-WH;
      width: 270px;
      height: 270px;
      border-radius: 500px;
      margin: auto;

      img {
        width: 100%;
        border-radius: 500px;
      }
    }

    .card__body {
      padding-right: $spacing*2;

      .foreword {
        margin-bottom: $spacing*2;
      }
    }
  }

  &--fluid {
    display: flex;

    .card__img {
      flex: 1.5;
      height: auto;
      padding-bottom: initial;
    }

    .card__body {
      flex: 3;
      padding: $spacing $spacing 0 $spacing*3;

      .info {
        margin-bottom: $spacing*2;
      }

      .foreword {
        @include line-clamp(2, $font-size-base);
      }
    }

    &--small {
      display: inherit;
      position: relative;

      .card__img {
        width: 70%;
        margin-right: 0;
      }
  
      .card__body {
        width: 65%;
        padding: $spacing*2 0 $spacing-tiny $spacing*2;
        border-color: transparent;
        position: absolute;
        bottom: 0;
        right: 0;

        .category {
          font-size: $font-size-14;
          margin-bottom: 6px;
        }

        .title, .title h3 {
          font-size: $font-size-18;
          margin-bottom: 0;
        }
      }
    }
  }

  &--magazine {
    display: flex;

    &:hover {
      filter: initial;
    }

    .card__img {
      flex: 1.5;
      height: auto;
      padding-bottom: initial;

      &:hover {
        @include box-shadow--active;
      }

      img {
        mix-blend-mode: initial;
      }
    }

    .card__body {
      flex: 3;
      padding: 0 $spacing 0 0;
      margin-left: $spacing*3;

      .category {
        font-size: $font-size-14;
        margin-bottom: $spacing-tiny;
      }

      .title {
        margin-bottom: $spacing;

        h3 {
          font-size: $font-size-22;
        }
      }

      .foreword {
        margin-bottom: $spacing*2;
        @include line-clamp(5, $font-size-base);
      }
      
      .btns {
        justify-content: flex-end;
      }
    }

  }

  &__img {
    position: relative;
    overflow: hidden;
    transition: $transition-base;
    width: 100%;
    height: 0;
    padding-bottom: 61.7%;
  
    a {
      background-color: transparent;
      width: 100%;
      display: block;
    }

    img {
      width: 100%;
      display: block;
      mix-blend-mode: multiply;
    }

    &:hover {
      a {
        background-color: $color-primary;
      }

      .img__infobox {
        left: 0;
        @include opacity(1);
        z-index: 1;
      }
    }

    .img__infobox {
      // background-color: rgba(0,21,29,.85);
      backdrop-filter: blur(8px);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @include opacity(0);
      transition: $transition-base;

      .icon-view {
        font-size: $font-size-22;
        font-style: initial;
        font-weight: $font-weight-medium;
        color: $color-WH;

        &::before {
          font-size: $font-size-24;
          color: $color-primary;
          margin-right: $spacing;
          position: relative;
          top: $spacing-tiny;
        }
      }
    }
  }

  &__body {
    background-color: $color-WH;
    padding: $spacing*2 $spacing 0 $spacing*2;
    position: relative;
    border-bottom: 1px solid $divider-light;
    transition: $transition-base;
    z-index: 2;

    .category {
      font-size: $font-size-base;
      color: $color-primary;
      margin-bottom: $spacing-tiny;
    }

    .title {
      margin-bottom: $spacing;
      position: relative;

      h3 {
        font-family: $font-family-serif;
        font-size: $font-size-22;
        color: $color-GR900;
        transition: $transition-base;

        &:hover {
          color: $color-primary;
        }

        strong {
          color: $color-primary;
        }
      }
    }

    .info {
      font-size: $font-size-14;
      color: $color-GR400;
      margin-bottom: $spacing*3;

      &__author {
        display: inline-block;
        margin-right: $spacing;

        a {
          color: $color-GR400;

          &:hover {
            color: $color-primary;
          }
        }
      }

      &__date {
        display: inline-block;
        margin-right: $spacing;
      }

      &__view {
        display: inline-block;
        margin-right: $spacing;

        i {
          &::before {
            font-size: $font-size-base;
            position: relative;
            top: 3px;
            margin-right: $spacing-tiny;
          }
        }
      }

      &__article {
        display: inline-block;
        margin-right: $spacing;
      }
    }

    .foreword {
      font-family: $font-family-sans;
      font-weight: $font-weight-light;
      color: $color-GR600;
      margin-bottom: $spacing*3;
      @include line-clamp(3, $font-size-base);

      strong {
        color: $color-primary;
        font-weight: $font-weight-light;
      }
    }

    .tags {
      margin-bottom: $spacing;
    }

    .btns {
      display: flex;
      margin-bottom: $spacing*2;

      &.aligh--left {
        justify-content: flex-start;
      }

      &.aligh--right {
        justify-content: flex-end;
      }
    }
  }
}



// RWD -----
@media (max-width: $screen-lg-min) /*1200*/ {
}

@media (max-width: $screen-md-min) /*992*/ {
  // AD
  .ads-box {
    .ads {
      margin-left: $spacing;
      margin-right: $spacing;
    }
  }
}

@media (max-width: $screen-sm-min) /*769*/ {
  // Titlebar
  .titlebar {
    width: 100%;
    margin-bottom: $spacing*2;

    // page
    &--page {
      margin-bottom: $spacing*3;
  
      .titlebar__title {
        .title-data {
          .title {
            font-size: $font-size-30;
          }
  
          span.sub-title {
            font-size: $font-size-base;
            margin-bottom: 0;
          }
        }
      }
    }
  
    // Section
    &--section {
      .titlebar__title {
        .title-data {
          &::after {
            height: 2px;
            bottom: -2px;
          }
  
          .title {
            font-size: $font-size-30;
          }
        }
      }
    }
  
    // Small
    &--small {
      .titlebar__title {
        padding-right: $spacing*3;
        
        .title-data {
          .title {
            font-size: $font-size-24;
          }
          
          span.sub-title {
            margin-left: 0;
          }
        }
      }
    }
  
    &__title {
      border-width: 2px;
    }
  }


  // Tab nav
  .tab-nav {
    &.sticky {
      top: 56px;
    }

    nav {
      &::after {
        top: 42px;
      }

      ul {
        li {
          margin: 0 $spacing-tiny/2;
          transition: $transition-base;

          a {
            font-size: $font-size-base;
            padding: $spacing $spacing;
            border-bottom: 2px solid transparent;

            &.active, &:hover, &:focus {
              border-color: $color-primary;
            }
          }
        }
      }
    }

    &--nowrap {
      nav {
        &::after {
          width: $spacing*2;
          height: 42px;
        }
      }
    }
  }

  // Breadcrumb
  .breadcrumb {
    padding-top: $spacing*2;
    nav {
      ul {
        flex-wrap: wrap;
        
        li {
          &:last-child {
            @include line-clamp(1, $font-size-14);
          }
        }
      }
    }
  }


  // Tags
  .tags {
    ul {
      li {
        a {
          padding: $spacing 10px;
        }
      }
    }
  }


  // Sponsor icon
  [data-sponsor] {
    &::before {
      font-size: $font-size-12;
      padding: 1px 6px;
    }
  }


  // Pagination
  .pagination {
    nav {
      ul {
        li {
          font-size: $font-size-base;
          line-height: $spacing*4;
          width: 30px;
          height: $spacing*4;
          margin: 0 $spacing-tiny/2;
        }
      }
    }
  }


  // Toasts
  .toast {
    width: calc(100vw - 32px);
    padding: $spacing*2;
    display: initial;

    &__body {
      font-size: $font-size-14;
      padding-right: 0;
      margin-bottom: $spacing;
    }

    &__btns {
      text-align: right;
      
      a.btn {
        padding: 6px $spacing*2;
        font-size: $font-size-14;
      }
    }

    &.fix--bottom {
      bottom: $spacing;
      right: $spacing;
    }
  }


  // UI State
  .ui-state {
    flex-wrap: wrap;

    &__content {
      text-align: center;
      margin: $spacing*3 0 0 0;
    }
  }


  // Cards
  .card {
    // New author
    &.new {
      &::before {
        content: 'NEW';
        background-color: $color-info;
        font-family: $font-family-LOAT;
        font-size: $font-size-12;
        line-height: 1;
        color: $color-WH;
        padding: 2px 2px 2px 4px;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0;
        transform: scale(.9);
        z-index: 3;
      }

      .card__body {
        .title {
          &::before {
            display: none;
          }
        }
      }
    }

    &--article {
      .card__body {
        margin: -$spacing*2 0 0 $spacing*2;
      }
    }

    &--author {
      display: flex;
      align-items: flex-start;
  
      .card__img {
        flex: 1.5;
        margin-right: $spacing*2;
        margin-top: 0;
      }
  
      .card__body {
        flex: 3;
        padding: 0;

        .title {
          h3 {
            font-size: $font-size-18;
    
            a {
              @include line-clamp(2, $font-size-18);
            }
          }
        }
  
        .info {
          margin-bottom: $spacing;
        }
  
        .foreword {
          @include line-clamp(2, $font-size-base);
          margin-bottom: $spacing*2;
        }
      }
    }

    &--fluid {
      display: inherit;

      &--small {
        .card__img {
          width: 50%;
        }
        
        .card__body {
          padding: $spacing-tiny*3 0 0 $spacing-tiny*3;

          .category {
            display: none;
          }

          .title, .title h3 {
            font-size: $font-size-18;
            font-weight: $font-weight-medium;
          }

          .title a {
            @include line-clamp(3, $font-size-18);
          }
        }
      }

      .card__img {
        margin-right: 0;
      }

      .card__body {
        margin: -($spacing*2) 0 0 $spacing*2;

        .foreword {
          display: none;
        }
        
        .info {
          &__author {
            display: block;
            margin: 0 0 $spacing 0;
            @include line-clamp(1, $font-size-14);
          }
        }
      }
    }
    
    &:hover {
      box-shadow: initial;
      filter: initial;
    }

    &__body {
      padding: $spacing-tiny*3 0 0 $spacing-tiny*3;

      .title {
        margin-bottom: $spacing;

        h3 {
          @include line-clamp(2, $font-size-22);
        }
      }

      .info {
        margin-bottom: $spacing*2;
      }
    }

    &__img {
      height: auto;
      padding-bottom: initial;
    }
  }
}

@media (max-width: $screen-xs-min) /*480*/ {
}

@media (max-width: 320px) {
}