//
// Header & Footer
// --------------------------------------------------


// Header
.main-header {
  background-color: rgba(0,21,29,0);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: $transition-base;

  // Big style
  &.main-header--big {
    width: 100%;
    height: 68px;
    // @include box-shadow;

    .main-header__logo {
      padding: $spacing*2 $spacing*4;
      top: $spacing*5;
      left: $spacing*5;

      img {
        width: 204px;
      }
    }

    .main-header__nav {
      display: none;
    }

    .main-header__search {
      top: $spacing*5;
      right: $spacing*17;

      .title {
        display: none;
      }
    }

    .main-header__member {
      top: $spacing*5;
      right: $spacing*11;
    }

    .main-header__tools {
      background-color: $color-WH;
      width: 268px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacing;
      position: absolute;
      top: 138px;
      left: $spacing*5;

      .tool-about {
        .about-writing {
          padding-left: $spacing-tiny;
          position: relative;

          &::before {
            content: '';
            background-color: $divider-light;
            width: 1px;
            height: 24px;
            display: inline-block;
            position: absolute;
            top: $spacing;
            left: 0;
          }

          a {
            span {
              display: none;
            }
          }
        }
      }
    }
  }

  // Small style
  &.main-header--small {
    background-color: rgba(0,21,29,1);
    width: 100%;
    height: 68px;
    box-shadow: 0 1px 8px rgba(0,0,0,.12);

    .main-header__logo {
      background-color: rgba(0,21,29,0);
      padding: $spacing-tiny*3 $spacing*2;
      top: 0;
      left: 0;

      img {
        width: 136px;
      }
    }

    .main-header__nav {
      display: inline-block;
      position: absolute;
      left: 0;

      .main-nav {
        ul {
          display: flex;

          li {
            margin-right: $spacing*3;

            &.title {
              display: none;
            }
          }
        }
      }

      .sub-nav {
        display: none;
      }
    }

    .main-header__search {
      position: initial;
      display: inline-block;

      .searchbar {
        &__content {
          z-index: 2;
          position: inherit;
          
          button.icon-search {
            background-color: $color-WH;
            color: $color-secondary;

            &:hover {
              background-color: $color-primary;
              color: $color-WH;
            }
          }
        }

        .icon-search {
          background-color: transparent;
          color: $color-WH;

          &:hover {
            background-color: $color-primary;
          }
        }
      }
    }

    .main-header__member {
      position: initial;
      display: inline-block;
      margin-left: $spacing-tiny;

      .member-icons {
        a {
          background-color: transparent;
          background-image: url(../../assets/images/icon-login--light.svg);
          color: $color-WH;

          &:hover {
            background-color: $color-primary;
          }
        }

        &--active {
          a {
            background-image: url(../../assets/images/icon-member--light.svg);
          }
        }
      }
    }

    .main-header__tools {
      background-color: transparent;
      position: initial;
      width: initial;
      padding: 0;

      .tool-social {
        padding-left: $spacing-tiny;
        margin-left: $spacing-tiny;
        position: relative;

        &::before {
          content: '';
          background-color: $divider-dark;
          width: 1px;
          height: 24px;
          display: inline-block;
          position: absolute;
          top: $spacing;
          left: 0;
        }

        a {
          background-color: transparent;
          color: $color-WH;

          &:hover {
            background-color: $color-primary;
          }
        }
      }

      .tool-about {
        .about-writing {
          &::before {
            content: '';
            background-color: $divider-dark;
          }

          a {
            padding-right: 0;
          }
        }
      }
    }

    .main-header__icons {
      top: 14px;
      right: $spacing*2;
    }

    .box {
      margin-left: $spacing*5 + 168px;
      margin-right: $spacing*9;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  // Menu open
  &.main-header--show {
    background-color: rgba(0,21,29,1);
    width: 100%;
    height: 100vh;

    .main-header__logo, .main-header__search, .main-header__member, .main-header__icons .icon-burger {
      display: none;
    }

    .main-header__nav {
      display: grid;
      grid-template-columns: 2fr 1fr;
      width: 100%;
      position: inherit;

      nav {
        ul {
          li {
            margin-bottom: $spacing;
          }
        }
      }

      .main-nav {
        ul {
          display: initial;

          li {
            font-size: $font-size-24;

            &.title {
              display: block;
            }
          }
        }
      }

      .sub-nav {
        display: inline-block;
      }
    }

    .main-header__tools {
      background-color: transparent;
      width: 100%;
      padding: initial;
      position: initial;
      top: initial;
      left: initial;

      margin-top: $spacing*3;
      padding-top: $spacing;
      border-top: 1px solid $divider-dark;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "about social";

      .tool-social {
        grid-area: social;
        justify-content: flex-end;
        
        &::before {
          display: none;
        }

        a {
          background-color: transparent;
          color: $color-WH;

          &:hover {
            background-color: $color-primary;
          }
        }
      }

      .tool-about {
        grid-area: about;

        .about-writing {
          padding-left: 0;

          &::before {
            display: none;
          }

          a {
            padding-right: $spacing;

            span {
              display: inline-block;
            }
          }
        }

        .about-list {
          display: inline-block;
        }
      }
    }

    .main-header__icons {
      .icon-close {
        display: inline-block;
      }
    }

    .box {
      max-width: 870px;
      height: initial;
      margin: auto;
      margin-top: 10vh;
      display: inherit;
    }
  }

  // Searchbar open
  &.main-header--search {
    .main-header__search {
      .searchbar {
        &__content {
          display: flex;
        }
        #hSearch {
          display: none;
        }
      }
    }
  }

  // Defult setting
  &__logo {
    background-color: rgba(0,21,29,1);
    display: inline-block;
    position: absolute;
    z-index: 2;
    transition: $transition-base;

    img {
      width: 204px;
      display: block;
      transition: $transition-base;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__nav {
    nav {
      ul {
        li {
          font-size: $font-size-18;
          font-weight: $font-weight-medium;

          &.title {
            font-family: $font-family-sans;
            font-size: $font-size-base !important;
            font-weight: $font-weight-light;
            color: $color-GR400;
          }

          a {
            color: $color-WH;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }

    .main-nav {
    }

    .sub-nav {
      border-left: 1px solid $divider-dark;
      padding-left: $spacing*6;
    }

    .about-nav {
      display: none;
    }
  }

  &__search {
    position: absolute;

    .title {
      font-family: $font-family-sans;
      font-size: $font-size-base;
      font-weight: $font-weight-light;
      color: $color-GR400;
    }

    .searchbar {
      position: relative;

      &__content {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        @include box-shadow--active;
        transition: $transition-base;
        display: none;

        .text-input {
          height: 40px;
        }

        button.icon-search {
          background-color: $color-WH;
          width: 40px;
          height: 40px;

          &:hover {
            background-color: $color-primary;
            color: $color-WH;
          }

          &::before {
            position: relative;
            top: -4px;
          }
        }
      }

      .icon-search {
        background-color: $color-WH;
        color: $color-secondary;
        font-size: $font-size-24;
        line-height: 0;
        width: 40px;
        height: 40px;
        display: inline-block;
        padding: $spacing;
        cursor: pointer;
        transition: $transition-base;

        &:hover {
          background-color: $color-primary;
          color: $color-WH;
        }
      }
    }
  }

  &__member {
    position: absolute;

    .member-icons {
      height: 40px;

      a {
        background-color: $color-WH;
        background-image: url(../../assets/images/icon-login--dark.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: initial;
        width: 40px;
        height: 40px;
        display: inline-block;

        &:hover {
          background-color: $color-primary;
          background-image: url(../../assets/images/icon-login--light.svg);
        }
      }

      &--active {
        a {
          background-image: url(../../assets/images/icon-member--dark.svg);

          &:hover {
            background-image: url(../../assets/images/icon-member--light.svg);
          }
        }
      }
    }
  }

  &__tools {
    .tool-social {
      display: flex;

      a {
        background-color: $color-WH;
        color: $color-secondary;
        font-size: $font-size-24;
        padding: $spacing;
        line-height: 0;
        display: inline-block;
        margin-right: $spacing-tiny;
        width: 40px;
        height: 40px;

        &:hover {
          background-color: $color-primary;
          color: $color-WH;
        }
      }
    }

    .tool-about {
      font-family: $font-family-sans;
      font-size: $font-size-18;
      display: flex;
      align-items: center;

      .about-writing {
        height: 40px;

        a {
          background-image: url(../../assets/images/icon-writing--primary.svg);
          background-repeat: no-repeat;
          background-position: 8px center;
          background-repeat: no-repeat;
          background-size: initial;
          line-height: 40px;
          height: 40px;
          display: inline-block;
          padding-left: 40px;
          padding-right: $spacing-tiny;

          &:hover {
            background-image: url(../../assets/images/icon-writing--light.svg);
            background-color: $color-primary;
            color: $color-WH;
          }
        }
      }
      
      .about-list {
        margin-left: $spacing*2;
        display: none;

        ul {
          li {
            display: inline-block;
            margin-right: $spacing*2;

            a {
              color: $color-WH;

              &:hover {
                color: $color-primary;
              }
            }
          }
        }
      }
    }
  }

  &__icons {
    position: absolute;
    top: $spacing*5;
    right: $spacing*5;

    * {
      font-size: $font-size-24;
      line-height: 0;
      display: inline-block;
      padding: $spacing;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: $transition-base;
    }

    .icon-burger {
      background-color: $color-secondary;
      color: $color-WH;

      &:hover {
        background-color: $color-primary;
      }
    }

    .icon-close {
      background-color: $color-WH;
      color: $color-secondary;
      display: none;

      &:hover {
        background-color: $color-primary;
        color: $color-WH;
      }
    }
  }

  .box {
    position: relative;
  }
}


// Footer
.main-footer {
  background-color: $bg-dark;
  padding: $spacing*4 0;
  margin-top: $spacing*20;

  >.container {
    display: grid;
    grid-template-columns: 220px 1fr;
  }

  &__logo {
    img {
      @include full100;
    }
  }

  &__content {
    font-family: $font-family-sans;
    color: $color-WH;
    text-align: right;

    .social-nav {
      margin-bottom: $spacing*2;

      a {
        background-color: $color-NA800;
        color: $color-WH;
        font-size: $font-size-24;
        padding: $spacing;
        line-height: 0;
        display: inline-block;
        margin-left: $spacing-tiny;

        &:hover {
          background-color: $color-primary;
        }
      }
    }

    .footer-nav {
      font-size: $font-size-base;
      font-weight: $font-weight-medium;
      margin-bottom: $spacing-tiny;
      
      ul {
        li {
          display: inline-block;
          margin-left: $spacing;

          a {
            color: $color-WH;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }

    .copyright {
      font-size: $font-size-12;
      color: $color-GR400;
    }
  }
}



// RWD -----
@media (max-width: $screen-lg-min) /*1200*/ {
}

@media (max-width: 1080px) {
  // Header
  .main-header.main-header--small {
    .box {
      margin-left: 168px;
    }
  }

  .main-header.main-header--show {
    .box {
      margin-left: auto;
    }
  }
}

@media (max-width: $screen-md-min) /*992*/ {
  // Header
  .main-header.main-header--small {
    .main-header__nav {
      display: none;
    }
  }

  .main-header.main-header--show {
    .main-header__nav {
      display: grid;
    }
  }
}

@media (max-width: $screen-sm-min) /*769*/ {
  // Header
  .main-header {
    // Searchbar open
    &.main-header--small {
      height: 56px;

      .main-header__logo {
        padding: 10px $spacing;

        img {
          width: 112px;
        }
      }

      .main-header__nav {
        display: none;
      }

      .main-header__search {
        position: absolute;
        right: $spacing*13;

        .title {
          display: none;
        }
      }

      .main-header__member {
        position: absolute;
        right: $spacing*7;
        margin-left: initial;
      }

      .main-header__tools {
        display: none;
      }

      .main-header__icons {
        top: $spacing;
        right: $spacing;
      }

      .box {
        margin-left: auto;
        margin-right: auto;
        height: 56px;
      }
    }
    
    // Searchbar open
    &.main-header--show {
      height: 100vh;
      overflow: hidden;
      
      .main-header__nav {
        display: inline-block;
        padding: 0 $spacing*5;
        height: calc(90vh - 57px);
        overflow-y: scroll;
        padding-bottom: $spacing*5;
        
        nav {
          ul {
            li {
              font-size: $font-size-18;
              font-weight: normal;
              margin-bottom: $spacing-tiny;

              &.title {
                font-size: $font-size-14 !important;
              }
            }
          }
        }

        .main-nav {
          ul {
            li {
              font-size: $font-size-18;
            }
          }
        }

        .sub-nav {
          border-left: 0;
          border-top: 1px solid $divider-dark;
          padding-top: $spacing*2;
          padding-left: initial;
          margin-top: $spacing*2;
          width: 100%;
        }

        .about-nav {
          border-top: 1px solid $divider-dark;
          padding-top: $spacing*2;
          margin-top: $spacing*2;
          display: inline-block;
          width: 100%;
        }
      }

      .main-header__tools {
        background-color: $color-secondary;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 8px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "social about";

        .tool-social {
          grid-area: social;
          padding-left: 0;
          margin-left: 0;
        }

        .tool-about {
          grid-area: about;
          justify-content: flex-end;

          .about-list {
            display: none;
          }
        }
      }

      .main-header__icons {
        .icon-close {
          background-color: transparent;
          color: $color-primary;
        }
      }

      .box {
        height: initial;
      }
    }


    // Searchbar open
    &.main-header--search {
      height: 100vh;
      overflow: hidden;
      z-index: 999;

      .main-header__search {
        width: 100%;
        height: calc(90vh - 57px);
        padding: 0 $spacing*5;
        margin-top: 10vh;
        // position: inherit;
        top: 0;
        right: inherit;

        .title {
          font-size: $font-size-14;
          font-weight: $font-weight-normal;
          margin-bottom: $spacing-tiny;
          display: block;
        }

        .searchbar {
          &__content {
            display: flex;
            width: 100%;
            border-bottom: 1px solid $divider-dark;
            padding-bottom: $spacing*2;

            .text-input {
              width: 100%;
            }
          }
          
          #hSearch {
            display: none;
          }
        }
      }

      .main-header__logo, .main-header__nav, .main-header__member, .main-header__tools {
        display: none;
      }

      .main-header__icons {
        .icon-burger {
          display: none;
        }

        .icon-close {
          background-color: transparent;
          color: $color-primary;
          display: inline-block;
        }
      }
    }
  }


  // Footer
  .main-footer {
    >.container {
      display: initial;
    }
  
    &__logo {
      max-width: 220px;
      margin: auto;
      margin-bottom: $spacing*5;
    }
  
    &__content {
      text-align: center;
    }
  }
}

@media (max-width: $screen-xs-min) /*480*/ {
}

@media (max-width: 320px) {
}