//
// Icons
// --------------------------------------------------


// Font icons
@font-face {
  font-family: "crossing";
  src:url("../../assets/fonts/crossing.eot");
  src:url("../../assets/fonts/crossing.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/crossing.woff") format("woff"),
    url("../../assets/fonts/crossing.ttf") format("truetype"),
    url("../../assets/fonts/crossing.svg#crossing") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "crossing" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "crossing" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
}

.icon-burger:before {
  content: "\61";
}
.icon-close:before {
  content: "\62";
}
.icon-date:before {
  content: "\63";
}
.icon-facebook:before {
  content: "\64";
}
.icon-instagram:before {
  content: "\65";
}
.icon-line:before {
  content: "\66";
}
.icon-mail:before {
  content: "\67";
}
.icon-rss:before {
  content: "\68";
}
.icon-search:before {
  content: "\69";
}
.icon-twitter:before {
  content: "\6a";
}
.icon-view:before {
  content: "\6b";
}


[class^="icons-"],
[class*=" icons-"] {
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.icons-login { background-image: url(../../assets/images/icon-login--dark.svg); }