// Mixins
// --------------------------------------------------


// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}


// WebKit-style focus
@mixin tab-focus() {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}


// Clearfix
@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


// Full
@mixin full100 {
  width: 100%;
  height: 100%;
  display: block;
}


// Box shadow
@mixin box-shadow {
  // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2);
  // box-shadow: 0 2px 2px rgba(0,0,0,.14);
  // box-shadow: 0 1px 5px -2px rgba(0,0,0,.12);
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
}

@mixin box-shadow--active {
  // box-shadow: 0 2px 4px -1px rgba(0,0,0,.2);
  // box-shadow: 0 4px 5px rgba(0,0,0,.14);
  // box-shadow: 0 2px 8px rgba(0,0,0,.16);
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.16));
}

@mixin box-shadow--mix {
  @include box-shadow;
  transition: $transition-base;

  &:hover {
    @include box-shadow--active;
  }
}


// 文字縮排
// @include line-clamp(3, $font-size-base);
@mixin line-clamp($row, $font-size) {
  font-size: $font-size;
  max-height: ($font-size * 1.5) * $row;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
}



// IMG 色彩增值
@mixin img-multiply {
  background-color: $color-WH;
  display: block;
  transition: $transition-base;

  &:hover {
    background-color: $color-primary;
  }

  img {
    mix-blend-mode: multiply;
  }
}