//
// Page
// --------------------------------------------------


// All Seaction setting
section.wrapper {
  position: relative;
}

main.main {
  min-height: 90vh;
}

.page {
  // Highlnie 區塊預設
  .highline {
    background-color: $bg-gray;
    margin-bottom: $spacing*5;
    padding-bottom: $spacing*5;
    
    .highline-box {
      padding-top: $spacing*2;

      .container {
        padding: 0 $spacing*5;
        transition: $transition-base;
      }

      &__img {
        @include img-multiply;
      }

      &__content {
        .title {
          margin-bottom: $spacing*2;

          h1 {
            font-family: $font-family-serif;
            font-size: $font-size-30;
            color: $color-GR900;
            transition: $transition-base;
            @include line-clamp(2, $font-size-30);

            &:hover {
              color: $color-primary;
            }
          }
        }

        .foreword {
          font-family: $font-family-sans;
          font-weight: $font-weight-light;
          color: $color-GR600;
          margin-bottom: $spacing*3;
          @include line-clamp(3, $font-size-base);
    
        }

        .btns {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}


// Index 首頁 -----
.page.inedx {
}
// Slide
.index-slide {
  background-color: $color-GR50;
  width: 100%;

  &__data {
    .item {
      position: relative;
      overflow: hidden;
      
      a {
        display: block;
        position: relative;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          backdrop-filter: blur(4px);
          transition: $transition-base;
        }
        
        &:hover, &:focus {
          outline: 0;
        }
      }

      img {
        width: 100%;
        height: 100%;
      }

      &.slick-current {
        a {
          &::before {
            backdrop-filter: blur(0px);
          }
        }
      }
    }

    .slick-arrow {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: transparent;
      width: 52px;
      height: 86px;
      border: 0;
      text-indent: -5000px;
      position: absolute;
      top: calc(50% - 43px);
      z-index: 9;
      transition: $transition-base;
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.7));
      @include opacity(.6);

      &.slick-prev {
        background-image: url(../../assets/images/icon-slide-arrow--left.svg);
        left: 3%;
      }

      &.slick-next {
        background-image: url(../../assets/images/icon-slide-arrow--right.svg);
        right: 3%;
      }

      &:hover {
        @include opacity(1);

        &.slick-prev {
          left: 2.5%;
        }

        &.slick-next {
          right: 2.5%;
        }
      }
    }
  }

  &__nav {
    .nav-data {
      .item {
        padding: $spacing*2 $spacing-tiny*3;
        border-top: $spacing-tiny solid $color-GR200;
        cursor: pointer;
        
        &:hover, &:focus {
          outline: 0;
        }

        a {
          &:hover, &:focus {
            outline: 0;
          }
        }

        .category {
          color: $color-GR400;
          margin-bottom: $spacing-tiny;
          pointer-events: none;

          &[data-sponsor] {
            position: initial;
          
            &::before {
              background-color: $color-GR300;
              position: initial;
              margin-right: $spacing-tiny;
            }
          }

          a {
            color: $color-GR400;
          }
        }

        .title, .title h3 {
          font-family: $font-family-serif;
          font-size: $font-size-24;
          color: $color-GR400;
          font-weight: $font-weight-medium;
          transition: $transition-base;
          pointer-events: none;
          max-height: 70px;
          overflow: hidden;
          @include line-clamp(2, $font-size-24);
        }

        &.slick-current {
          border-color: $color-primary;
          cursor: auto;

          .category {
            color: $color-primary;
            pointer-events: initial;

            &[data-sponsor] {
              &::before {
                background-color: $color-warning;
              }
            }
  
            a {
              color: $color-primary;

              &:hover {
                color: $color-primary2;
              }
            }
          }
  
          .title, .title h3 {
            font-weight: $font-weight-bold;
            color: $color-GR900;
            pointer-events: initial;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}

// 最新文章、編輯精選
.index-cards {
  &.article-new {
    margin-bottom: $spacing*5;
  }

  .card-group {
    display: grid;
    grid-template-columns: 2fr 1fr;

    &__main {
      .card {
        position: sticky;
        top: 68px;

        &--article {
          .card__body {
            border-color: transparent;
            margin-left: $spacing*2;
            margin-right: $spacing*8;

            .title, .title h3 {
              font-size: $font-size-30;
            }
          }
        }
      }
    }

    &__side {
      margin-left: $spacing*5;

      .card {
        margin-bottom: $spacing*4;

        &__img {
        }

        &__body {
          .title, .title h3 {
            @include line-clamp(2, $font-size-18);
          }
        }

        &:nth-child(even) {
          .card__img {
            margin-left: 30%;
          }

          .card__body {
            padding-left: $spacing-tiny;
            padding-right: $spacing*2;
            right: initial;
            left: 0;
          }
        }
      }
    }
  }
}

// 策展
.index-feature {
  background-color: $bg-dark;
  padding: $spacing*5 0;

  .container {
    position: relative;
  }

  &__img {
    height: 0;
    padding-bottom: 61.7%;

    img {
      width: 100%;
    }
  }

  &__content {
    background-color: $color-GR50;
    max-width: 500px;
    padding: $spacing*3;
    position: absolute;
    left: $spacing*3;
    bottom: $spacing*3;
    @include box-shadow;
    transition: $transition-base;

    &:hover {
      @include box-shadow--active;
    }

    .titlebar {
      margin-bottom: $spacing;
    }

    .card {
      &:hover {
        box-shadow: initial;
      }

      &__body {
        background-color: transparent;
        border: 0;
        padding: 0;

        .title, .title h3 {
          font-size: $font-size-30;
        }

        .foreword {
          @include line-clamp(2, $font-size-base);
        }

        .btns {
          margin: 0;
        }
      }
    }
  }
}

// Instagram
.index-instagram {
  background-color: $bg-dark;
  padding-bottom: $spacing*5;
  width: 100%;
  overflow: hidden;

  .container {
    position: relative;
  }

  &__title {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 560px);
    z-index: 9;

    .titlebar {
      &__title {
        border-color: $color-WH;
        padding-right: $spacing*9;

        .title-data {
          .title {
            font-family: $font-family-LOAT;
            font-size: $font-size-24;
            color: $color-WH;
            letter-spacing: 3px;
          }
        }
      }
    }
  }

  &__btns {
    position: absolute;
    top: calc(50% - 0px);
    left: calc(50% - 560px);
    z-index: 9;

    a.btn {
      color: $color-WH;
    }
  }

  &__img {
    position: relative;
    white-space: nowrap;

    &::before {
     content: '';
     background-color: rgba(0,21,29,.8);
     backdrop-filter: blur(10px);
     width: calc((100vw / 5) - 4px);
     height: 100%;
     display: inline-block;
     position: absolute;
     top: 0;
     left: calc(50% - 600px);
     z-index: 2;
    }

    .img-item {
      @include img-multiply;
    }
  }
}

// 最新季刊
.index-magazine {
  background-color: $bg-gray;
  background-image: url(../../assets/images/BG_index-magazine.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  padding: $spacing*5 0;

  .move-box {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 230px;
  }

  &__img {
    // @include img-multiply;
    transition: $transition-base;

    &:hover {
      @include box-shadow--active;
    }
  }

  &__content {
    margin-right: $spacing*7;

    .titlebar {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    .card {
      &:hover {
        box-shadow: initial;
        filter: inherit;
      }

      &__body {
        background-color: transparent;
        padding: 0;
        border: 0;

        .title {
          margin-bottom: $spacing*3;

          h3 {
            font-size: $font-size-30;
          }
        }
      }
    }
  }
}

// 熱門文章
.index-hot {
  margin-bottom: $spacing*5;
  
  &__content {
    .list-group {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .list-item {
        display: flex;
        align-items: flex-start;
        padding-bottom: $spacing*2;
        border-bottom: 1px solid $divider-light;
        margin-bottom: $spacing*2;
        flex: 40%;

        &:nth-child(odd) {
          margin-right: $spacing*5;
        }

        &__num {
          font-family: $font-family-LOAT;
          font-size: $display1-size;
          font-weight: $font-weight-light;
          font-style: italic;
          line-height: 1;
          color: $color-GR300;
          margin-right: $spacing*3;
        }

        &__data {
          .category {
            font-size: $font-size-14;
            margin-top: $spacing;
            margin-bottom: $spacing-tiny;
          }

          .title , .title h3 {
            font-family: $font-family-serif;
            font-size: $font-size-18;
            color: $color-GR900;
            transition: $transition-base;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}

// 首頁影音
.index-video {
  background-color: $bg-gray;
  padding: $spacing*5 0;
}

// Index Ads
.ads.halfpage {
  margin-top: 0;
}



// Channel 頻道 -----
.app.blade-channel {
  padding-top: 68px;

  .wrapper__footer {
    width: 100%;
    padding-bottom: $spacing*2;
    border-bottom: $spacing-tiny/2 solid $color-secondary;

    .pagination {
      margin-top: $spacing*4;
    }
  }

  // Card group
  .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -$spacing*2;
    margin-right: -$spacing*2;
  
    .card {
      width: calc((100% / 3) - 32px);
      margin: 0 $spacing*2 $spacing*5 $spacing*2;
  
      &__body {
        .title {
          h3 {
            @include line-clamp(2, $font-size-22);
          }
        }
      }
    }
  }
}

// 頻道-首頁
.channel-catalog {
  margin-bottom: $spacing*7;

  &:last-child {
    margin: 0;
  }

  .wrapper__footer {
    text-align: right;
  }
}

// 頻道-策展專輯
.page.channel-feature {
  .highline {
    background-image: url(../../assets/images/BG_highline.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
    .highline-box {
      .container {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        @include box-shadow;

        &:hover {
          @include box-shadow--active;
        }
      }

      &__img {
      }

      &__content {
        background-color: $color-WH;
        padding: $spacing*4;
      }
    }
  }
}



// Search 搜尋 -----
.app.blade-search {
  padding-top: 68px;
}

.page.search {
  .highline {
    background-color: $bg-gray;
    padding-bottom: $spacing*6;
    
    .highline-box {
      padding-top: $spacing*5;

      .searchbar {
        background-color: $color-WH;
        border: $spacing-tiny solid $color-secondary;
        width: 50%;
        height: $spacing*8;
        margin: auto;
        display: flex;
        transition: $transition-base;

        &:hover, &:focus {
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        }

        input.text-input {
          font-size: $font-size-22;
          padding-top: 0;
          padding-bottom: 0;
          flex: 2;
        }

        button {
          background-color: $color-WH;
          font-size: $font-size-24;
          width: $spacing*7;
          height: $spacing*7;
          padding: 0;
          margin: 0;
          position: relative;

          &:hover {
            background-color: $color-primary;
            color: $color-WH;
          }

          &::after {
            content: '';
            background-color: $divider-light;
            width: 1px;
            height: $spacing*5;
            display: inline-block;
            position: absolute;
            top: $spacing;
            left: 0;
          }
        }
      }
    }
  }
  
  .search-result {
    .container {
      border-top: $spacing-tiny solid $color-secondary;
      padding-top: $spacing*3;
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-column-gap: $spacing*6;
    }

    &__side {
      .title {
        h4 {
          font-family: $font-family-sans;
          font-size: $font-size-18;
          font-weight: $font-weight-bold;
          border-bottom: 1px solid $divider-light;
          padding-bottom: $spacing*2;
          margin-bottom: $spacing*2;
        }
      }

      .filter {
        &__item {
          font-weight: $font-weight-medium;
          width: 100%;
          display: block;
          position: relative;
          padding-left: $spacing*3;
          margin-bottom: 12px;
          cursor: pointer;

          &:hover input ~ .checkmark {
            border-color: $color-primary;
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }

          input:checked ~ .checkmark {
            background-color: $color-WH;
            border: 1px solid $color-primary;
          }

          input:checked ~ .checkmark:after {
            display: block;
          }

          .checkmark {
            position: absolute;
            top: 3px;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: $color-WH;
            border-radius: 50%;
            border: 1px solid $color-GR400;

            &::after {
              content: "";
              background: $color-primary;
              position: absolute;
              top: 3px;
              left: 3px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              display: none;
            }
          }
        }
      }
    }

    &__content {
      .title {
        h4 {
          font-family: $font-family-sans;
          font-size: $font-size-18;
          font-weight: $font-weight-bold;
          border-bottom: 1px solid $divider-light;
          padding-bottom: $spacing*2;

          strong {
            color: $color-primary
          }
        }
      }

      .filter-tab {
        border-bottom: 1px solid $divider-light;
        margin-bottom: $spacing*4;

        ul {
          display: flex;

          li {
            margin: 0 $spacing-tiny;

            a {
              color: $color-secondary;
              font-weight: $font-weight-medium;
              padding: $spacing-tiny*3 $spacing-tiny*5;
              display: inline-block;
              border-bottom: 2px solid transparent;
              transition: $transition-base;

              &.active {
                border-color: $color-primary;
              }

              &:hover {
                color: $color-primary;
              }
            }
          }
        }
      }

      .result-list {
        .card {
          margin-bottom: $spacing*4;
        }
      }

      .wrapper__footer {
        width: 100%;
        padding-bottom: $spacing*2;
        border-bottom: $spacing-tiny/2 solid $color-secondary;
        @include clearfix;
    
        .pagination {
          margin-top: $spacing*4;
        }
      }
    }
  }
}



// Magazine 最新季刊 -----
.app.blade-magazine {
  padding-top: 68px;
}

.page.magazine {
  .highline {
    background-color: $bg-gray;
    padding-bottom: $spacing*6;
    margin-bottom: 0;
    
    .highline-box {
      padding-top: $spacing*5;

      .container {
      }

      .box-main {
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-column-gap: $spacing*5;
      }

      &__img {
        img {
          mix-blend-mode: initial;
        }

        &:hover {
          @include box-shadow--active;
        }
      }

      &__content {
        .category {
          margin-bottom: $spacing-tiny;
          color: $color-primary;
        }

        .title {
          width: 100%;
          margin-bottom: $spacing*2;
          border-bottom: 2px solid $color-secondary;

          a {
            position: relative;
            display: inline-block;

            &::after {
              content: '';
              background-color: $color-primary;
              width: 100%;
              height: 2px;
              display: inline-block;
              position: absolute;
              bottom: -2px;
              left: 0;
            }
          }

          h1 {
            display: inline-block;
            transition: $transition-base;

            &:hover {
              color: $color-primary;
            }
          }
        }

        .foreword {
          @include line-clamp(6, $font-size-base);
        }
      }
    }
  }
}

.magazine-list {
  .list-tab {
    border-top: $spacing-tiny solid $color-secondary;
    border-bottom: 1px solid $divider-light;
    margin-bottom: $spacing*4;
    width: 100%;

    .tab-data {
      width: 70%;
      margin: auto;
    }

    .item {
      margin: 0 $spacing-tiny;
      color: $color-secondary;
      font-size: $font-size-18;
      font-weight: $font-weight-medium;
      text-align: center;
      padding: $spacing-tiny*3 $spacing-tiny*5;
      display: inline-block;
      border-bottom: 2px solid transparent;
      transition: $transition-base;
      cursor: pointer;

      &.slick-current {
        border-color: $color-primary;
      }

      &:hover {
        color: $color-primary;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .list-data {
    .item {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-column-gap: $spacing*6;

      &:focus {
        outline: 0;
      }
    }
    
    &__side {
      span {
        writing-mode: vertical-lr;
        font-family: $font-family-LOAT;
        font-size: 12.5rem;
        font-weight: $font-weight-bold;
        color: $color-GR100;
        line-height: 1;
        display: block;
      }
    }

    &__content {
      display: inline-flex;
      flex-wrap: wrap;
      align-content: flex-start;
      margin-left: -$spacing*2;
      margin-right: -$spacing*2;

      .card {
        width: calc(50% - 32px);
        margin: 0 $spacing*2 $spacing*5 $spacing*2;

        &__img {
          height: auto;
          padding-bottom: initial;
        }
      }
    }
  }
}



// Authors 專欄作者 -----
.app.blade-authors {
  padding-top: 68px;

  .wrapper__footer {
    width: 100%;
    padding-bottom: $spacing*2;
    border-bottom: $spacing-tiny/2 solid $color-secondary;

    .pagination {
      margin-top: $spacing*4;
    }
  }

  // Card group
  .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -$spacing*2;
    margin-right: -$spacing*2;
  
    .card {
      width: calc((100% / 3) - 32px);
      margin: 0 $spacing*2 $spacing*5 $spacing*2;
  
      &__body {
        .title {
          h3 {
            @include line-clamp(2, $font-size-22);
          }
        }
      }
    }
  }
}

// 專欄作者-首頁
.page.authors-index {
  .highline {
    background-image: url(../../assets/images/BG_highline.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
    .highline-box {
      .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: $spacing*3;
      }

      .box-title {
        font-family: $font-family-sans;
        font-size: $font-size-30;
        font-weight: $font-weight-bold;
        margin-bottom: $spacing;
        width: 100%;

        &::after {
          content: '';
          background-image: url(../../assets/images/authors-index_box-title.svg);
          background-repeat: no-repeat;
          background-position: left top;
          width: 152px;
          height: 2px;
          display: inline-block;
          margin-left: $spacing;
        }
      }

      .box-main {
        .box-content {
          background-color: $color-WH;
          display: flex;
          padding: $spacing*3 $spacing*4;
          @include box-shadow;

          .highline-box__img {
            width: 285px;
            border-radius: 500px;

            img {
              border-radius: 500px;
            }
          }
    
          .highline-box__content {
            flex: 1;
            margin-left: $spacing*3;

            .title {
              margin: $spacing 0;

              h1 {
                @include line-clamp(1, $font-size-30);
              }
            }

            .foreword {
              @include line-clamp(6, $font-size-base);
            }
          }
        }
      }

      .box-side {
        .box-content {
          background-color: $color-WH;
          padding: $spacing*3;
          @include box-shadow;

          .small {
            display: flex;
            margin-bottom: $spacing*2;

            &:last-child {
              margin-bottom: 0;
            }

            .highline-box__img {
              width: 84px;
              height: 84px;
              border-radius: 500px;
  
              img {
                border-radius: 500px;
              }
            }

            .highline-box__content {
              flex: 1;
              margin-left: $spacing*2;

              .title {
                padding-top: $spacing-tiny;
                margin-bottom: $spacing-tiny;

                h3 {
                  font-family: $font-family-serif;
                  font-size: $font-size-18;
                  color: $color-GR900;
                  transition: $transition-base;
                  @include line-clamp(1, $font-size-18);

                  &:hover {
                    color: $color-primary;
                  }
                }
              }

              .foreword {
                font-size: $font-size-14;
                @include line-clamp(2, $font-size-14);
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

// 專欄作者-個人頁
.page.author {
  .highline {
    background-image: url(../../assets/images/BG_author.svg);
    background-repeat: no-repeat;
    background-position: center -5vh;
    background-size: 1658px;
    background-color: $bg-gray;
    
    .highline-box {
      .box-main {
        background-color: $color-WH;
        width: 85%;
        margin: auto;

        .box-content {
          background-color: $color-WH;
          display: flex;
          padding: $spacing*3 $spacing*4;
          border: 5px solid $color-secondary;

          .highline-box__img {
            width: 300px;
            height: 300px;
            border-radius: 500px;

            img {
              border-radius: 500px;
            }
          }
    
          .highline-box__content {
            flex: 1;
            margin-left: $spacing*4;

            &.active {
              .foreword {
                max-height: inherit;
                overflow: initial;
                -webkit-line-clamp: inherit;
              }

              .btns {
                .btn {
                  &::before {
                    content: '關閉';
                  }
  
                  &:hover {
                    i.icon-btn-arrow--more {
                      background-image: url(../../assets/images/icon-16-light-arrow--up.svg);
                    }    
                  }
  
                  i.icon-btn-arrow--more {
                    background-image: url(../../assets/images/icon-16-primary-arrow--up.svg);
                  }
                }
              }
            }

            .title {
              width: 100%;
              margin-top: $spacing;
              margin-bottom: $spacing*2;
              border-bottom: 2px solid $color-secondary;
              position: relative;
              display: inline-block;
    
              h1 {
                position: relative;
                display: inline-block;
                overflow: initial;
                -webkit-line-clamp: initial;
                transition: $transition-base;

                &::after {
                  content: '';
                  background-color: $color-primary;
                  width: 100%;
                  height: 2px;
                  display: inline-block;
                  position: absolute;
                  bottom: -8px;
                  left: 0;
                }

                span{
                  display: inline-block;
                  @include line-clamp(1, $font-size-30);
                }

                &:hover {
                  color: initial;
                }
              }
            }
    
            .foreword {
              margin-bottom: $spacing;
              @include line-clamp(7, $font-size-base);

              a {
                text-decoration: underline;
              }
            }

            .btns {
              .btn {
                cursor: pointer;

                &::before {
                  content: '看更多';
                }

                &:hover {
                  i.icon-btn-arrow--more {
                    background-image: url(../../assets/images/icon-16-light-arrow--down.svg);
                    left: 0;
                  }    
                }

                i.icon-btn-arrow--more {
                  background-image: url(../../assets/images/icon-16-primary-arrow--down.svg);
                  width: 16px;
                  height: 16px;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}



// 404
.app.blade-404 {
  padding-top: 68px;

  main.main {
    min-height: calc(100vh - 234px);
  }

  .main-footer {
    margin-top: 0;
  }
}

.page.e404 {
  background-image: url(../../assets/images/BG_404.svg), linear-gradient(180deg, #001C26 50%, #000B0F 100%);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 45%, 100%;

  .page__content {
    .container {
      min-height: calc(100vh - 234px);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .box {
      position: relative;

      span.ufo {
        display: inline-block;
        position: absolute;
        top: -200px;
        right: -200px;
        @include opacity(1);

        img {
          animation: inherit;
          animation-direction: reverse;
        }

        animation: UFO 3s infinite linear;
        transform-origin: 50% 170px;
      }

      @keyframes UFO {
        from {
        }

        to {
          @include opacity(.7);
          transform: rotate(1turn);
        }
      }
    }

    h1 {
      font-family: $font-family-LOAT;
      color: $color-WH;
      font-weight: $font-weight-light;
      font-style: italic;
      // margin-bottom: $spacing*7;
      margin-bottom: 10%;
      width: 100%;
    }

    .btns {
      

      .btn {
        color: $color-WH;
      }
    }
  }
}




// RWD -----
@media (max-width: $screen-lg-min) /*1200*/ {
  // Instagram
  .index-instagram {
    &__title {
      top: calc(50% - 60px);
      left: calc(50% - 445px);
    }

    &__btns {
      top: calc(50% - 0px);
      left: calc(50% - 445px);
    }

    &__img {
      &::before {
        width: calc((100vw / 4) - 4px);
        left: calc(50% - 485px);
      }
    }
  }

  // 最新季刊
  .index-magazine {
    .move-box {
      width: 60%;
    }
  }

  
  // 頻道-策展專輯
  .page.channel-feature {
    .highline {
      .highline-box {
        &__content {
          padding: $spacing*2 $spacing*3;
        }
      }
    }
  }
}

@media (max-width: $screen-md-min) /*992*/ {
  // Index -----
  // 策展
  .index-feature .container {
    width: 100%;
  }

  // Instagram
  .index-instagram {
    &__title {
      top: calc(50% - 60px);
      left: calc(50% - 335px);
    }

    &__btns {
      top: calc(50% - 0px);
      left: calc(50% - 335px);
    }

    &__img {
      &::before {
        width: calc((100vw / 3.5) - 4px);
        left: calc(50% - 375px);
      }
    }
  }

  // 最新季刊
  .index-magazine {
    .move-box {
      width: 70%;
    }
  }



  // Channel 頻道 -----
  .app.blade-channel {
    .card-group {
      .card {
        width: calc((100% / 2) - 32px);
      }
    }
  }
}

@media (max-width: $screen-sm-min) /*769*/ {
  // Page / Highlnie 區塊預設
  .page {
    .highline {
      margin-bottom: $spacing*3;
      padding-bottom: $spacing*3;
      
      .highline-box {
        padding-top: 0;

        .container {
          padding: 0 $spacing*2;
        }

        &__content {
          .title {
            margin-bottom: $spacing;
            
            h1 {
              font-size: $font-size-24;
            }
          }

          .foreword {
            margin-bottom: $spacing*2;
          }
        }
      }
    }
  }

  // Index -----
  // Slide
  .index-slide {
    margin-bottom: $spacing*5;
    
    &__data {
      .item {
        a {
          &::before {
            display: none;
          }
        }
      }

      .slick-arrow {
        width: 26px;
        height: 43px;
        top: calc(50% - 22px);

        &.slick-prev {
          left: 3%;
        }

        &.slick-next {
          right: 3%;
        }
      }
    }

    &__nav {
      .container {
        padding: 0;
      }

      .nav-data {
        .item {
          padding: $spacing*2;
          padding-top: ($spacing*2) - 2px;

          .category {
            margin-bottom: 0;
            

            &[data-sponsor] {
              position: absolute;
              top: -3px;

              &::before {
                text-indent: initial;
              }
            }

            a {
              display: none;
            }
          }

          .title, .title h3 {
            font-size: $font-size-22;
            @include line-clamp(2, $font-size-22);
          }
        }
      }
    }
  }

  // 最新文章、編輯精選
  .index-cards {
    &.article-new {
      margin-bottom: 0;
    }

    &.article-editor {
      .card-group {
        &__side {
          margin: 0;
  
          .card, .card:nth-child(even) {
            &[data-sponsor]::before {
              left: initial;
              right: 0;
            }

            .card__img {
              margin-left: 50%;
            }

            .card__body {
              padding-left: $spacing-tiny;
              padding-right: $spacing-tiny*3;
              right: initial;
              left: 0;
            }
          }
        }
      }
    }

    .card-group {
      grid-template-columns: auto;

      &__main {
        .card {
          border-bottom: 1px solid $divider-light;
          margin-bottom: $spacing*2;

          &--article {
            .card__body {
              margin: (-$spacing*3) (-$spacing*2) 0 0;

              .title, .title h3 {
                font-size: $font-size-22;
              }
            }
          }

          &__img {
            width: calc(100% + 32px);
            margin-left: -$spacing*2;
          }

          &__body {
            padding: $spacing*2;

            .category {
              display: none;
            }

            .title, .title h3 {
              font-size: $font-size-22;
            }

            .foreword {
              @include line-clamp(2, $font-size-base);
              margin: 0;
            }

            .btns {
              display: none;
            }
          }
        }
      }

      &__side {
        margin: 0;

        .card {
          margin-bottom: $spacing*3;

          &:last-child {
            margin-bottom: 0;
          }
          
          &:nth-child(even) {
            .card__img {
              margin-left: 0;
            }

            .card__body {
              padding: 12px 0 0 12px;
              left: initial;
              right: 0;
            }
          }

          &__img {
            height: auto;
            padding-bottom: initial;
          }

          &__body {
            width: 55%;

            .title, .title h3 {
              @include line-clamp(3, $font-size-18);
            }
          }
        }
      }
    }
  }

  // 策展
  .index-feature {
    padding-top: $spacing*3;
    padding-bottom: 0;

    .titlebar {
      &__title {
        border-color: $color-WH;

        .title-data {
          .title {
            color: $color-WH;
          }
        }
      }
    }

    &__img {
      height: auto;
      padding-bottom: initial;

      img {
        width: calc(100% + 32px);
        margin-left: -$spacing*2;
      }
    }

    &__content {
      background-color: $color-secondary;
      position: initial;
      transition: $transition-base;

      margin: -24px -16px 0 0;

      .titlebar {
        display: none;
      }

      .card {
        &__body {
          .title, .title h3 {
            font-size: $font-size-22;
            color: $color-WH;
          }

          .foreword {
            margin-bottom: 0;
          }

          .btns {
            display: none;
          }
        }
      }
    }
  }

  // Instagram
  .index-instagram {
    padding-bottom: $spacing*3;

    &__title {
      position: initial;
      padding: 0 $spacing*2;

      .titlebar {
        &__title {
          border-color: $color-WH;
          padding-right: 0;
          display: block;

          .title-data {
            .title {
              font-family: $font-family-LOAT;
              font-size: $font-size-24;
              color: $color-WH;
              letter-spacing: 3px;
            }
          }
        }
      }
    }

    &__btns {
      float: right;
      position: initial;
      margin: $spacing $spacing*2 0;
    }

    &__img {
      &::before {
       display: none;
      }
    }
  }

  // 最新季刊
  .index-magazine {
    background-image: url(../../assets/images/BG_index-magazine--M.svg);
    background-position: left top;
    width: 100%;
    overflow: hidden;

    .move-box {
      width: 130%;
      display: grid;
      grid-template-columns: 190px 2fr;
      overflow-x: scroll;
      // margin-left: -110px;
    }

    #magazineMove {
      margin-left: -210px;
    }

    &__img {
      order: 1;
    }
  
    &__content {
      margin-left: $spacing*3;
      margin-right: 0;
      order: 2;
  
      .titlebar {
        margin-bottom: $spacing;
      }
  
      .card {
        &__body {
          .title {
            margin-bottom: $spacing;
  
            h3 {
              font-size: $font-size-22;
            }
          }

          .foreword {
            @include line-clamp(2, $font-size-base);
          }

          .btns {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  // 熱門文章
  .index-hot {
    margin-bottom: 0;
    
    &__content {
      .list-group {
        .list-item {
          padding-bottom: $spacing;
          margin-bottom: $spacing*2;
          flex: 100%;
  
          &:nth-child(odd) {
            margin-right: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
  
          &__num {
            font-size: $font-size-40;
            margin-right: $spacing*3;
          }
  
          &__data {
            .category {
              display: none;
            }
  
            .title , .title h3 {
              font-weight: $font-weight-medium;
            }
          }
        }
      }
    }
  }
  
  // 首頁影音
  .index-video {
    padding: $spacing*3 0;

    &__content {
      width: calc(100% + 32px);
      margin-left: -$spacing*2;
    }
  }



  // Channel 頻道 -----
  .app.blade-channel {
    padding-top: 0;
    
    .card-group {
      flex-direction: column;
      margin: 0;

      .card {
        width: 100%;
        margin: 0 0 $spacing*3 0;
      }
    }
  }

  // 頻道首頁
  .page.channel {
    .channel-catalog {
      .card-group {
        .card {
          &:not(:first-child) {
            display: inherit;
  
            .card__img {
              height: auto;
              padding-bottom: initial;
              margin-right: 0;
              width: 50%;
            }
  
            .card__body {
              width: 55%;
              padding: $spacing-tiny*3 0 0 $spacing-tiny*3;
              border-color: transparent;
              position: absolute;
              bottom: 0;
              right: 0;
  
              .title h3 {
                font-size: $font-size-18;
                margin-bottom: 0;
              }
  
              .info {
                margin-bottom: 0;
              }
  
              .tags {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  // 頻道-策展專輯
  .page.channel-feature {
    .highline {
      .highline-box {
        .container {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }


  // Search 搜尋 -----
  .app.blade-search {
    padding-top: 0;
  }

  .page.search {
    .highline {
      padding-bottom: $spacing*3;
      
      .highline-box {
        padding-top: $spacing*3;

        .searchbar {
          width: 80%;
          border-width: $spacing-tiny/2;
          height: $spacing*7;

          input.text-input {
            font-size: $font-size-18;
          }

          button {
            width: 52px;
            height: 52px;
          }
        }
      }
    }
    
    .search-result {
      .container {
        border-top: 0;
        padding-top: 0;
        display: inherit;
      }

      &__side {
        display: none;
      }

      &__content {
        display: flex;
        flex-wrap: wrap;

        .title {
          width: 100%;

          h4 {
            font-size: $font-size-base;
            font-weight: $font-weight-medium;
            border: 0;
          }
        }

        .filter-tab {
          order: -1;
          width: 100%;
          border-top: $spacing-tiny/2 solid $color-secondary;
          margin-bottom: $spacing*2;

          ul {
            justify-content: center;

            li {
              a {
                padding: $spacing-tiny*3 $spacing-tiny*3;
              }
            }
          }
        }

        .result-list {
          .card {
            margin-bottom: $spacing*3;
          }
        }
      }
    }
  }



  // Magazine 最新季刊 -----
  .app.blade-magazine {
    padding-top: 0;
  }

  .page.magazine {
    .highline {      
      padding-bottom: $spacing*3;

      .highline-box {
        padding-top: 0;

        .box-main {
          display: flex;
          width: 100%;
        }

        &__img {
          background-color: transparent;
          width: 140px;
        }

        &__content {
          flex: 1;
          padding-left: $spacing*2;

          .category {
            margin-bottom: 0;
          }

          .title {
            margin-bottom: $spacing*2;
          }

          .foreword {
            font-size: $font-size-14;
            @include line-clamp(4, $font-size-14);
          }

          .btns {
            .btn {
              padding: 6px $spacing-tiny*3;
              font-size: $font-size-14;
            }
          }
        }
      }
    }
  }

  .magazine-list {
    .list-tab {
      margin-bottom: $spacing*2;

      .tab-data {
        width: 100%;
      }

      .item {
        margin: 0 $spacing-tiny/2;
        font-size: $font-size-base;
        padding: $spacing-tiny*2 $spacing-tiny*3;
      }
    }

    .list-data {
      .item {
        display: flex;
        flex-wrap: wrap;
      }

      &__side {
        display: none;
      }

      &__content {
        .card {
          width: 100%;
          margin-bottom: $spacing*3;

          &__body {
            margin-left: $spacing*2;

            .category {
              font-size: $font-size-14;
            }

            .title {
              h3 {
                font-size: $font-size-18;
              }
            }

            .foreword {
              display: none;
            }
            
            .btns {
              .btn {
                padding: 6px $spacing-tiny*3;
                font-size: $font-size-14;
              }
            }
          }
        }
      }
    }
  }



  // Authors 專欄作者 -----
  .app.blade-authors {
    padding-top: 0;

    // Card group
    .card-group {
      flex-direction: column;
      margin: 0;

      .card {
        width: 100%;
        margin: 0 0 $spacing*3 0;

        &:nth-child(6n - 1),
        &:nth-child(6n - 2),
        &:nth-child(6n - 0) {
          &.new::before {
            right: 0;
            left: initial;
          }

          .card__img {
            margin-right: 0;
            margin-left: $spacing*2;
          }

          .card__body {
            order: -1;
          }
        }

        &__img {
          height: auto;
        }

        &__body {
          .title {
            margin-bottom: $spacing-tiny;

            h3 {
              font-size: $font-size-18;
              @include line-clamp(2, $font-size-18);
            }
          }
        }
      }
    }
  }

  // 專欄作者-首頁
  .page.authors-index {
    .highline {
      .highline-box {
        .container {
          display: block;

          .box-title {
            font-size: $font-size-24;
          }

          .box-main {
            margin-bottom: $spacing*3;

            .box-content {
              flex-wrap: wrap;
              padding: $spacing*3;

              .highline-box__img {
                width: 200px;
                height: 200px;
                margin: auto;
                margin-bottom: $spacing*2;
              }

              .highline-box__content {
                margin-left: 0;

                .title {
                  margin-top: 0;

                  h1 {
                    font-size: $font-size-24;
                  }
                }

                .foreword {
                  margin-bottom: $spacing;
                  @include line-clamp(3, $font-size-base);
                }
              }
            }
          }

          .box-side {

          }
        }
      }
    }
  }

  // 專欄作者-個人頁
  .page.author {
    .highline {
      background-image: url(../../assets/images/BG_author--M.svg);
      background-size: 100%;
      
      .highline-box {
        .box-main {
          width: 100%;

          .box-content {
            padding: $spacing*2 $spacing*3;
            border-width: 4px;
            flex-wrap: wrap;

            .highline-box__img {
              width: 220px;
              height: 220px;
              margin: auto;
              margin-bottom: $spacing;
            }
      
            .highline-box__content {
              margin-left: 0;
              flex: 100%;

              &.active {
                .foreword {
                  max-height: inherit;
                  overflow: initial;
                  -webkit-line-clamp: inherit;
                }

                .btns {
                  .btn {
                    &::before {
                      content: '關閉';
                    }
    
                    &:hover {
                      i.icon-btn-arrow--more {
                        background-image: url(../../assets/images/icon-16-light-arrow--up.svg);
                      }    
                    }
    
                    i.icon-btn-arrow--more {
                      background-image: url(../../assets/images/icon-16-primary-arrow--up.svg);
                    }
                  }
                }
              }

              .title {
                margin-top: 0;
      
                h1 {
                  font-size: $font-size-24;

                  span{
                    font-size: $font-size-24;
                    @include line-clamp(1, $font-size-24);
                  }
                }
              }
      
              .foreword {
                @include line-clamp(4, $font-size-base);
              }

              .btns {
                .btn {
                  cursor: pointer;

                  &::before {
                    content: '看更多';
                  }

                  &:hover {
                    i.icon-btn-arrow--more {
                      background-image: url(../../assets/images/icon-16-light-arrow--down.svg);
                      left: 0;
                    }    
                  }

                  i.icon-btn-arrow--more {
                    background-image: url(../../assets/images/icon-16-primary-arrow--down.svg);
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
      }
    }

    .card-group {
      .card:nth-child(6n-1) .card__img,
      .card:nth-child(6n-2) .card__img,
      .card:nth-child(6n-0) .card__img {
        margin-left: 0;;
      }
    }
  }



  // 404
  .app.blade-404 {
    padding-top: 0;
  
    main.main {
      width: 100vw;
      min-height: calc(100vh - 56px);
      overflow: hidden;
    }
  }

  .page.e404 {
    background-size: 95%, 100%;

    .page__content {
      .container {
        min-height: calc(100vh - 56px);
        align-items: flex-start;
        padding-top: 28vh;
      }

      .box {
        span.ufo {
          top: -170px;
          right: -100px;

          img {
            width: 200px;
            height: 200px;
          }

          animation: UFO 3s infinite linear;
          transform-origin: 50% 120px;
        }
      }

      h1 {
        font-size: $font-size-24;
      }
    }
  }
}

@media (max-width: $screen-xs-min) /*480*/ {
}

@media (max-width: 320px) {
}