//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
* {
  @include box-sizing(border-box);
}

*:before, *:after {
  @include box-sizing(border-box);
}

::selection {
  background: $color-primary;
  color: #fff;
}


// Body reset
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  background-color: $body-bg;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-little;
  color: $text-color;
}


// Reset fonts for relevant elements
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  transition: $transition-base;
  border: 0;
  
  &:hover, &:focus {
    outline: 0;
  }
}

// Placeholder
::-webkit-input-placeholder {
  color: $color-GR400;
}
:-ms-input-placeholder {
  color: $color-GR400;
}
::placeholder {
  color: $color-GR400;
}


// Links
a {
  color: $link-color;
  text-decoration: none;
  transition: $transition-base;

  &:hover, &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    outline: 0;
  }

  &:focus {
    @include tab-focus;
  }
}


// Container widths
@mixin container-fixed($gutter: $grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  // padding-left:  floor(($gutter / 2));
  // padding-right: ceil(($gutter / 2));
  // @include clearfix;
}
.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


// Video fulid
.video-fulid {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


// Lazy
img.lazy {
  width: 100%;
  display: block;
}


// RWD Setting 
.pc {
  display: inline-block !important;
}
.mobile {
  display: none !important;
}


// iOS "clickable elements" fix for role="button"
[role="button"] {
  cursor: pointer;
}



// RWD -----
@media (max-width: $screen-lg-min) /*1200*/ {
}

@media (max-width: $screen-md-min) /*992*/ {
}

@media (max-width: $screen-sm-min) /*769*/ {
  body {
    padding-top: 56px;
  }
  .pc {
    display: none !important;
  }
  .mobile {
    display: inline-block !important;
  }

  .container {
    padding-left:  $spacing*2;
    padding-right: $spacing*2;
  }
}

@media (max-width: $screen-xs-min) /*480*/ {
}

@media (max-width: 320px) {
}